#events_container {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 650px;
    margin-top: 6.5rem;
}

#event_image_container{
    overflow: hidden;
}

#event_image{
    object-fit: cover;
}

#events_header_container {
    padding-left: 7rem;
    display: flex;
    text-align: left;
}

#events_carousel_container {
    margin-top: 5rem;
}

#events_left_arrow {
    position: relative;
    cursor: pointer;
    top: 13rem;
    left: -45rem;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    opacity: 0.75;
    z-index: 1000;
}

#events_left_arrow:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1s ease-out;
}

#events_right_arrow {
    position: relative;
    cursor: pointer;
    bottom: 13rem;
    right: -44rem;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    opacity: 0.75;
    z-index: 1000;
}

#events_right_arrow:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1s ease-out;
}

#events_carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}