/* .event{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 160px;
    position: relative;
    align-items: center;
    justify-content:flex-start
} */

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.event_image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.infocontainer{
    display: flex;
    flex-direction: column;
}

span{
    color: black;
    font-size: 20px;
}

.event_date{
    font-size: 15px;
    opacity: 0.5;
}

