
.header1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -1em;
}

.header2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
}

.buttoncontainer {
    display: flex;
    margin-left: 0;
    align-items: center;
    color: white;
}

button {
    margin: 0.5em;
    cursor: pointer;
}

.readmorebutton {
    background-color: #009FE3;
    border: none;
    border-radius: 2em;
    width: 125px;
    height: 30px;
    color: white;
}

.playbutton {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
}

.text {
    display: flex;
    width: 16em;
}

.bgimage {
    position: absolute;
    width: 1710px;
    height: 800px;
}

.watch_video {
    color: white;
}