.herocontainer{
    display: flex;
    width:100%; 
    flex-direction: column;
    color: white;
}

.carousel{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    background-color: #009FE3;
}