#newscard_container {
    width: 38rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    background-color: #F7F7F7;
    margin: auto;
    overflow: auto
}

::-webkit-scrollbar {
    width: 4px;
    margin-right: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009FE3;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0274a4;
}

#newscard_header {
    color: #000;
    font-family: Aeonik TRIAL;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

#newscard_date {
    color: #999;
    font-family: Aeonik TRIAL;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

#newscard_info {
    color: #999;
    font-family: Aeonik TRIAL;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
}

#newscard_info_holder {
    width: 100%;
}

#newscard_readmore {
    width: 100px;
    background-color: #009FE3;
    color: white;
    opacity: 1;
    border-radius: 1em;
    border: none;
    opacity: 0;
}

.newscard:hover .news_readmore {
    opacity: 1;
}