#references {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 650px;
    margin-top: 6.5rem;
}

#reference_header_container {
    padding-left: 7rem;
    display: flex;
    text-align: left;
}

#reference_carousel_container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

/* #references_left_arrow {
    position: relative;
    cursor: pointer;
    top: 10.5rem;
    left: -45rem;
    z-index: 1000;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    opacity: 0.75;
}

#references_left_arrow:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1s ease-out;
}

#references_right_arrow {
    position: relative;
    cursor: pointer;
    bottom: 19.5rem;
    right: -44rem;
    z-index: 1000;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    transition: all 0.3s;
    opacity: 0.75;
}

#references_right_arrow:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: opacity 1s ease-out;
} */